*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

}

body{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
    background-color: #ffccf9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%23d1f3ff' cx='45' cy='45' r='10'/%3E%3Cg fill='%23dbbdff' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");    color: rgb(253, 255, 144);
    color: whitesmoke;
	font-size: 20px;
	text-shadow: -1px 1px 2px rgb(169, 147, 229),
				1px 1px 2px rgb(169, 147, 229),
				1px -1px 0 rgb(169, 147, 229),
				-1px -1px 0 rgb(169, 147, 229);
}

/* Header Styling */
header{
    text-align: center;
    margin: 10px;
}

/* Game Board Design */
.game{
    display: flex;
    flex-wrap: wrap;
    width: 315px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.square{
    height: 100px;
    width: 100px;
    background-color: rgb(253, 255, 144);
    border: 1px black solid;
}

/* XO design */
.O{
    background-image: URL("pictures/egggs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.X{
    height: 100px;
    width: 100px;
    background-image: URL("pictures/bunny.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

/* Winner Count */
.winnerTally{
    text-align: center;
    margin: 10px;
}

.Count{
    white-space: nowrap;
}

/* Message */

section a{
    margin: 5px;
}

.message{
    display: none;
}

.noOneWins{
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 110px;
    width: 50%;
    position: fixed;
    background-color: white;
    color: #ffccf9;
    border: black solid 1px;
    left: 25%;
    top: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: none;
}

button#button{
    padding: 5px;
    background-color: #ffccf9;
    border: transparent;
    color: white;
    margin: 10px;
}

.win{
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 130px;
    width: 70%;
    position: fixed;
    background-color: white;
    color: #ffccf9;
    border: black solid 1px;
    left: 15%;
    top: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: none;
}


a#themeButton{
    padding: 10px;
    background-color: #FFF2F2;
    border: solid black 2px;
    color: black;
    border-radius: 50%;
    text-shadow: none;
    text-decoration: none;
}


@media (max-width: 600px){
    *, *::after, *::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    :root{
    
    }
    
    body{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 100px;
        background-color: #ffccf9;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%23d1f3ff' cx='45' cy='45' r='10'/%3E%3Cg fill='%23dbbdff' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");        color: rgb(0, 0, 0);
        font-size: 15px;
        text-shadow: -1px 1px 2px rgb(169, 147, 229),
                    1px 1px 2px rgb(169, 147, 229),
                    1px -1px 0 rgb(169, 147, 229),
                    -1px -1px 0 rgb(169, 147, 229);
        color: white;
    }
    
    /* Header Styling */
    header{
        text-align: center;
        margin: 10px;
    }

    #bigH{
        font-size: 50px;
    }
    
    #header{
        font-size: 30px;
    }
    
    /* Game Board Design */
    .game{
        display: flex;
        flex-wrap: wrap;
        width: 255px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 5px;
    }
    
    .square{
        height: 75px;
        width: 75px;
        background-color: rgb(253, 255, 144);
        border: 1px black solid;
    }
    
    /* X design */
    .O{
        background-image: URL("pictures/egggs.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75px 75px;
    }
    
    .X{
        height: 75px;
        width: 75px;
        background-image: URL("pictures/bunny.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75px 75px;
    }
    
    /* Winner Count */
    .winnerTally{
        text-align: center;
        margin: 10px;
    }
    
    .Count{
        white-space: nowrap;
    }
    
    /* Message */
    .message{
        display: none;
    }

    .noOneWins{
        grid-template-rows: auto;
        grid-template-columns: auto;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        height: 110px;
        width: 80%;
        position: fixed;
        background-color: white;
        color: #ffccf9;
        border: black solid 1px;
        left: 10%;
        top: 40%;
        display: flex;
        text-align: center;
        text-shadow: none;
    }

    button#button{
        padding: 5px;
        background-color: #ffccf9;
        border: transparent;
        color: white;
        margin: 10px;
    }

    .win{
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 130px;
    width: 80%;
    position: fixed;
    background-color: white;
    color: #ffccf9;
    border: black solid 1px;
    left: 10%;
    top: 40%;
    text-shadow: none;
    }

    a#themeButton{
        padding: 10px;
        background-color: #FFF2F2;
        border: solid black 2px;
        color: black;
        border-radius: 50%;
        text-shadow: none;
        text-decoration: none;
    }
}